<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>게시판</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 10px 20px;
        }
        .header .buttons {
            display: flex;
            align-items: center;
        }
        .button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 8px 16px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 1em;
            text-decoration: none; /* 링크 스타일 제거 */
            display: inline-block; /* 링크를 인라인 블록 요소로 설정 */
            border-radius: 4px; /* 버튼 모서리를 둥글게 만듭니다. */
        }
        .column {
            background-color: #f9f9f9;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            min-width: 250px;
        }
        .card {
            background-color: white;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: relative;
            cursor: grab;
            user-select: none; /* 드래그 중에 텍스트 선택을 방지 */
        }
        .card-info {
            margin-top: 8px;
            font-size: 0.9em;
            color: #666;
        }
        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 12px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="header">
    <div>
        <h1 id = "board-title">게시판</h1>
        <h3 id = "board-info">설명</h3>
    </div>
    <div class="buttons">
        <button class="button" onclick="goBack()">뒤로 가기</button>
        <button class="button" onclick="logout()">로그아웃</button>
        <button id="editButton" class="button">컬럼 수정</button>
        <a href="createColumn.html" class="button">컬럼 생성</a>
    </div>
</div>

<div id="board-details">

</div>
<div id="columns-container" style="display: flex; justify-content: space-around;">
    <!-- 기본으로 세 개의 컬럼이 있습니다. -->
<!--    <div id="column1" class="column">-->
<!--        <h2><span id="columnTitle1">첫 번째 컬럼</span><input type="text" id="editColumnInput1" style="display: none;"></h2>-->
<!--        <a href="createCard.html" class="button">카드 생성</a>-->
<!--        <div id="card1" class="card" draggable="true">-->
<!--            <div>카드 1</div>-->
<!--            <div class="card-info">담당자: UserA</div>-->
<!--            <div class="card-info">마감일자: 2024-07-31</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
<!--        <div id="card2" class="card" draggable="true">-->
<!--            <div>카드 2</div>-->
<!--            <div class="card-info">담당자: UserB</div>-->
<!--            <div class="card-info">마감일자: 2024-08-15</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
<!--        <div id="card3" class="card" draggable="true">-->
<!--            <div>카드 3</div>-->
<!--            <div class="card-info">담당자: UserC</div>-->
<!--            <div class="card-info">마감일자: 2024-08-30</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div id="column2" class="column">-->
<!--        <h2><span id="columnTitle2">두 번째 컬럼</span><input type="text" id="editColumnInput2" style="display: none;"></h2>-->
<!--        <a href="createCard.html" class="button">카드 생성</a>-->
<!--        <div id="card4" class="card" draggable="true">-->
<!--            <div>카드 4</div>-->
<!--            <div class="card-info">담당자: UserD</div>-->
<!--            <div class="card-info">마감일자: 2024-09-10</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
<!--        <div id="card5" class="card" draggable="true">-->
<!--            <div>카드 5</div>-->
<!--            <div class="card-info">담당자: UserE</div>-->
<!--            <div class="card-info">마감일자: 2024-09-25</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div id="column3" class="column">-->
<!--        <h2><span id="columnTitle3">세 번째 컬럼</span><input type="text" id="editColumnInput3" style="display: none;"></h2>-->
<!--        <a href="createCard.html" class="button">카드 생성</a>-->
<!--        <div id="card6" class="card" draggable="true">-->
<!--            <div>카드 6</div>-->
<!--            <div class="card-info">담당자: UserF</div>-->
<!--            <div class="card-info">마감일자: 2024-10-05</div>-->
<!--            <button class="close-button" onclick="removeCard(this)">X</button>-->
<!--        </div>-->
</div>
<!--</div>-->

<script>
    function goBack() {
        window.history.back();
    }

    function logout() {
        const token = localStorage.getItem("Authorization");

        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/users/logout', true);
        xhr.setRequestHeader('Authorization', token);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    alert(response.msg);
                    localStorage.removeItem('Authorization');
                    localStorage.removeItem('refresh');
                    window.location.href = '/';
                } else {
                    console.error('로그아웃 실패:', xhr.status);
                    alert('로그아웃에 실패했습니다.');
                }
            }
        };
        xhr.send();
    }

    const urlParams = new URLSearchParams(window.location.search);
    const boardId = urlParams.get('boardId');
    if (!boardId) {
        alert('잘못된 요청입니다.');
        window.location.href = '/';
    }

    fetch(`/api/boards/${boardId}`, {
        method: 'GET',
        headers: {
            'Authorization': localStorage.getItem("Authorization"),
            // 'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('네트워크 상태가 좋지 않습니다.');
        }
        return response.json();
    })
    .then(data => {
        console.log('보드 데이터:', data);
        document.getElementById('board-title').textContent = data.data.boardTitle;
        document.getElementById('board-info').textContent = data.data.boardInfo;

        // 컬럼 및 카드 생성 함수 호출
        displayColumnsAndCards(data.data.kanbanDetailsResponseDtoList);
    })
    .catch(error => {
        console.error('보드 정보를 불러오는 중 오류 발생:', error);
        alert('보드 정보를 불러오는 중 오류가 발생했습니다.');
    });

    function displayColumnsAndCards(columns) {
        const columnsContainer = document.getElementById('columns-container')

        // columns가 유효한 배열인지 확인
        if (!Array.isArray(columns)) {
            console.error('Invalid columns data:', columns);
            return;
        }

        columns.forEach(column => {
            const columnElement = document.createElement('div');
            columnElement.className = 'column';
            columnElement.innerHTML = `
                <h2>${column.columnTitle}</h2>
                <a href="createCard.html" class="button">카드 생성</a>
            `;

            const cards = column.cardResponseList;

            if(Array.isArray(cards)) {
                cards.forEach(card => {
                    const cardElement = document.createElement('div');
                    cardElement.className = 'card';
                    cardElement.draggable = true;
                    cardElement.innerHTML = `
                    <div>${card.title}</div>
                    <div class="card-info">담당자: ${card.username ? card.username : '-'}</div>
                    <div class="card-info">기한: ${card.endTime ? card.endTime : '-'}</div>
                    <div class="card-info">내용: ${card.content}</div>
                    <div class="card-info">상태: ${card.state}</div>
                    <div class="card-info">순서: ${card.sequence}</div>
                `;
                    columnElement.appendChild(cardElement);
                });
            } else {
                console.warn('cardResponseList is not an array:', columnData.cardResponseList);
            }
            columnsContainer.appendChild(columnElement);
        });
    }

    let dragged; // 드래그 중인 카드를 저장할 변수
    document.addEventListener('drag', function(event) {
    }, false);

    document.addEventListener('dragstart', function(event) {
        // 드래그 시작 시 해당 카드를 저장
        dragged = event.target;
        event.target.style.opacity = 0.5; // 드래그 중인 카드의 투명도 조정
    }, false);

    document.addEventListener('dragend', function(event) {
        // 드래그 종료 시 투명도 초기화
        event.target.style.opacity = '';
    }, false);

    document.addEventListener('dragover', function(event) {
        // 드롭을 허용하기 위해 기본 동작 방지
        event.preventDefault();
    }, false);

    document.addEventListener('dragenter', function(event) {
        // 드래그된 요소가 들어왔을 때의 스타일 지정
        if (event.target.className === 'column' || event.target.className === 'card') {
            event.target.style.background = 'rgba(0, 0, 0, 0.1)';
        }
    }, false);

    document.addEventListener('dragleave', function(event) {
        // 드래그된 요소가 나갔을 때의 스타일 지정
        if (event.target.className === 'column' || event.target.className === 'card') {
            event.target.style.background = '';
        }
    }, false);

    document.addEventListener('drop', function(event) {
        // 드롭 시 해당 카드를 드롭된 위치로 이동
        event.preventDefault();
        if (event.target.className === 'column' || event.target.className === 'card') {
            event.target.style.background = '';
            if (event.target.className === 'card') {
                // 카드 안에 드롭된 경우, 부모 요소를 대상으로 변경
                event.target.parentNode.insertBefore(dragged, event.target.nextSibling);
            } else {
                // 컬럼에 직접 드롭된 경우
                event.target.appendChild(dragged);
            }
        }
    }, false);

    // 수정 모드 체크
    let editMode = false;

    // 컬럼 수정 버튼 클릭 이벤트 핸들러
    document.getElementById('editButton').addEventListener('click', function() {
        editMode = !editMode; // 수정 모드 토글

        // 모든 컬럼에 대해 처리
        for (let i = 1; i <= 3; i++) {
            let columnTitle = document.getElementById(`columnTitle${i}`);
            let editInput = document.getElementById(`editColumnInput${i}`);

            if (editMode) {
                // 수정 모드일 때
                columnTitle.style.display = 'none'; // 제목 숨기기
                editInput.style.display = 'inline-block'; // 입력 필드 보이기
                editInput.value = columnTitle.textContent.trim(); // 입력 필드에 현재 제목 텍스트 설정
            } else {
                // 수정 모드가 아닐 때 (변경 완료)
                columnTitle.textContent = editInput.value; // 입력 필드 값으로 제목 변경
                columnTitle.style.display = 'inline-block'; // 제목 보이기
                editInput.style.display = 'none'; // 입력 필드 숨기기
            }
        }

        // 버튼 텍스트 변경
        let editButton = document.getElementById('editButton');
        editButton.textContent = editMode ? '변경 완료' : '컬럼 수정';
    });

    // 컬럼 생성 버튼 클릭 이벤트 핸들러
    // document.getElementById('addColumnButton').addEventListener('click', function() {
    //     alert('컬럼 생성 페이지로 이동합니다.');
    //     // 실제로 컬럼을 생성하는 로직을 추가해야 함
    //     // 예를 들어 새로운 컬럼을 동적으로 추가하거나 다른 페이지로 이동하는 등의 처리 필요
    // });

    // 컬럼 제목 입력 필드에서 Enter 키를 누를 때
    document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            if (editMode) {
                // 수정 모드일 때, 변경 완료 처리
                for (let i = 1; i <= 3; i++) {
                    let columnTitle = document.getElementById(`columnTitle${i}`);
                    let editInput = document.getElementById(`editColumnInput${i}`);
                    columnTitle.textContent = editInput.value;
                }
                editMode = false; // 수정 모드 종료
                updateUI(); // UI 업데이트 함수 호출
            }
        }
    });

    // 수정된 UI 업데이트 함수
    function updateUI() {
        for (let i = 1; i <= 3; i++) {
            let columnTitle = document.getElementById(`columnTitle${i}`);
            let editInput = document.getElementById(`editColumnInput${i}`);

            if (editMode) {
                // 수정 모드일 때
                columnTitle.style.display = 'none';
                editInput.style.display = 'inline-block';
                editInput.value = columnTitle.textContent.trim();
            } else {
                // 수정 모드가 아닐 때
                columnTitle.style.display = 'inline-block';
                editInput.style.display = 'none';
            }
        }

        let editButton = document.getElementById('editButton');
        editButton.textContent = editMode ? '변경 완료' : '컬럼 수정';
    }

    // 카드 삭제 함수
    function removeCard(button) {
        const card = button.parentElement;
        card.remove();
    }
</script>

</body>
</html>
