<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>게시판</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 10px 20px;
        }

        .header .buttons {
            display: flex;
            align-items: center;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 8px 16px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 1em;
            text-decoration: none; /* 링크 스타일 제거 */
            display: inline-block; /* 링크를 인라인 블록 요소로 설정 */
            border-radius: 4px; /* 버튼 모서리를 둥글게 만듭니다. */
        }

        .column {
            background-color: #f9f9f9;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            min-width: 250px;
        }

        .card {
            background-color: white;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
            cursor: grab;
            user-select: none; /* 드래그 중에 텍스트 선택을 방지 */
        }

        .card-info {
            margin-top: 8px;
            font-size: 0.9em;
            color: #666;
        }

        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 12px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal {
            display: none; /* 기본적으로 숨김 */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }

        .modal-header h2 {
            margin: 0;
        }

        .modal-body {
            padding: 10px 0;
        }

        .modal-body label {
            display: block;
            margin-bottom: 8px;
        }

        .modal-body input[type="text"], .modal-body select, .modal-body input[type="datetime-local"], .modal-body textarea {
            width: calc(100% - 20px);
            padding: 8px;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .modal-footer {
            text-align: right;
            padding-top: 10px;
        }

        .modal-footer .button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            font-size: 1em;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<div class="header">
    <div>
        <h1 id="board-title">게시판</h1>
        <h3 id="board-info">설명</h3>
    </div>
    <div class="buttons">
        <button class="button" onclick="goBack()">뒤로 가기</button>
        <button class="button" onclick="logout()">로그아웃</button>
        <button id="editButton" class="button" onclick="modifyColumn()">컬럼 수정</button>
        <button id="createColumn" class="button" onclick="createColumn()">컬럼 생성</button>
        <button class="button" onclick="openInviteModal()">초대하기</button>
    </div>
</div>

<div id="board-details">

</div>
<div id="columns-container" style="display: flex; justify-content: space-around;">

</div>
<!--</div>-->

<!-- 초대하기 모달 -->
<div id="inviteModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>사용자 초대</h2>
            <span class="close-button" onclick="closeInviteModal()">&times;</span>
        </div>
        <div class="modal-body">
            <label for="inviteUsers">사용자명 입력:</label>
            <input type="text" id="inviteUsers" placeholder="초대할 사용자명을 쉼표로 구분하여 입력하세요">
        </div>
        <div class="modal-footer">
            <button class="button" onclick="inviteUsers()">초대</button>
        </div>
    </div>
</div>

<!-- 카드 생성 모달 -->
<div id="createCardModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>카드 생성</h2>
            <span class="close-button" onclick="closeCreateCardModal()">&times;</span>
        </div>
        <div class="modal-body">
            <label for="cardTitle">기능명</label>
            <input type="text" id="cardTitle" name="title" required>
            <label for="cardStatus">카드 상태</label>
            <select id="cardStatus" name="status" required>
                <option value="BEFORE">진행 전</option>
                <option value="IN_PROGRESS">진행 중</option>
                <option value="DONE">완료</option>
            </select>
            <label for="cardAssignee">담당자</label>
            <input type="text" id="cardAssignee" name="assignee">
            <label for="cardDueDate">마감일자</label>
            <input type="datetime-local" id="cardDueDate" name="dueDate">
            <label for="cardContent">내용</label>
            <textarea id="cardContent" name="content" rows="4"></textarea>
        </div>
        <div class="modal-footer">
            <button class="button" onclick="createCard()">카드 저장</button>
        </div>
    </div>
</div>
<script>

    function goBack() {
        window.history.back();
    }

    function logout() {
        const token = localStorage.getItem("Authorization");

        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/users/logout', true);
        xhr.setRequestHeader('Authorization', token);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    alert(response.msg);
                    localStorage.removeItem('Authorization');
                    localStorage.removeItem('refresh');
                    window.location.href = '/';
                } else {
                    console.error('로그아웃 실패:', xhr.status);
                    alert('로그아웃에 실패했습니다.');
                }
            }
        };
        xhr.send();
    }

    function createColumn() {
        // 현재 URL에서 boardId 값을 추출합니다.
        const urlParams = new URLSearchParams(window.location.search);
        const boardId = urlParams.get('boardId');

        // boardId 값을 createColumn.html에 전달합니다.
        if (boardId) {
            window.location.href = `createColumn.html?boardId=${boardId}`;
        } else {
            alert('boardId가 존재하지 않습니다.');
        }
    }

    const urlParams = new URLSearchParams(window.location.search);
    const boardId = urlParams.get('boardId');
    if (!boardId) {
        alert('잘못된 요청입니다.');
        window.location.href = '/';
    }

    fetch(`/api/boards/${boardId}`, {
        method: 'GET',
        headers: {
            'Authorization': localStorage.getItem("Authorization"),
            // 'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('네트워크 상태가 좋지 않습니다.');
            }
            return response.json();
        })
        .then(data => {
            console.log('보드 데이터:', data);
            document.getElementById('board-title').textContent = data.data.boardTitle;
            document.getElementById('board-info').textContent = data.data.boardInfo;

            // 컬럼 및 카드 생성 함수 호출
            displayColumnsAndCards(data.data.kanbanDetailsResponseDtoList);
        })
        .catch(error => {
            console.error('보드 정보를 불러오는 중 오류 발생:', error);
            alert('보드 정보를 불러오는 중 오류가 발생했습니다.');
        });

    function displayColumnsAndCards(columns) {
        const columnsContainer = document.getElementById('columns-container')

        // columns가 유효한 배열인지 확인
        if (!Array.isArray(columns)) {
            console.error('Invalid columns data:', columns);
            return;
        }

        columns.forEach(column => {
            const columnElement = document.createElement('div');
            columnElement.className = 'column';
            columnElement.dataset.id = column.id;
            columnElement.innerHTML = `
                <h2>${column.columnTitle}</h2>
                <button class="button" onclick="openCreateCardModal(event)">카드 생성</button>
            `;

            const cards = column.cardResponseList;

            if (Array.isArray(cards)) {
                cards.forEach(card => {
                    const cardElement = document.createElement('div');
                    cardElement.className = 'card';
                    cardElement.dataset.id = card.id;
                    cardElement.draggable = true;
                    cardElement.innerHTML = `
                    <div>${card.title}</div>
                     <button class="close-button" onclick="deleteCard(${column.id}, ${card.id})">&times;</button>
                    <div class="card-info">담당자: ${card.username ? card.username : '-'}</div>
                    <div class="card-info">기한: ${card.endTime ? card.endTime : '-'}</div>
                    <div class="card-info">내용: ${card.content}</div>
                    <div class="card-info">상태: ${card.state}</div>
                    <div class="card-info">순서: ${card.sequence}</div>
                `;
                    cardElement.addEventListener('dragstart', dragStart);
                    cardElement.addEventListener('dragover', dragOver);
                    cardElement.addEventListener('drop', drop);
                    columnElement.appendChild(cardElement);
                });
            }
            columnElement.addEventListener('dragstart', dragStart);
            columnElement.addEventListener('dragover', dragOver);
            columnElement.addEventListener('drop', drop);
            columnsContainer.appendChild(columnElement);
        });
    }

    // 모달 열기
    function openInviteModal() {
        document.getElementById('inviteModal').style.display = 'block';
    }

    // 모달 닫기
    function closeInviteModal() {
        document.getElementById('inviteModal').style.display = 'none';
    }

    // 초대하기 함수
    function inviteUsers() {
        const invitedUsersInput = document.getElementById('inviteUsers').value;
        const invitedUsers = invitedUsersInput.split(',').map(username => username.trim());

        // DTO 배열 생성
        const BoardInviteRequestDto = invitedUsers.map(username => ({
            username: username
        }));

        console.log(BoardInviteRequestDto)
        console.log(JSON.stringify(BoardInviteRequestDto))

        fetch(`/api/admins/boards/${boardId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("Authorization"),
            },
            body: JSON.stringify(BoardInviteRequestDto)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('초대 요청이 실패했습니다.');
                }
                return response.json();
            })
            .then(data => {
                alert('초대가 성공적으로 완료되었습니다.');
                closeInviteModal();
            })
            .catch(error => {
                console.error('초대 요청 중 오류 발생:', error);
                alert('초대 요청이 실패했습니다.');
            });
    }

    //드래그 중인 카드를 저장할 변수
    let draggedCard;

    document.addEventListener('drag', function (event) {
    }, false);

    document.addEventListener('dragstart', function (event) {
        // 드래그 시작 시 해당 카드를 저장
        dragged = event.target;
        event.target.style.opacity = 0.5; // 드래그 중인 카드의 투명도 조정
    }, false);

    document.addEventListener('dragend', function (event) {
        // 드래그 종료 시 투명도 초기화
        event.target.style.opacity = '';
    }, false);

    document.addEventListener('dragover', function (event) {
        // 드롭을 허용하기 위해 기본 동작 방지
        event.preventDefault();
    }, false);

    document.addEventListener('dragenter', function (event) {
        // 드래그된 요소가 들어왔을 때의 스타일 지정
        if (event.target.className === 'column' || event.target.className === 'card') {
            event.target.style.background = 'rgba(0, 0, 0, 0.1)';
        }
    }, false);

    document.addEventListener('dragleave', function (event) {
        // 드래그된 요소가 나갔을 때의 스타일 지정
        if (event.target.className === 'column' || event.target.className === 'card') {
            event.target.style.background = '';
        }
    }, false);

    document.addEventListener('drop', function (event) {
        event.preventDefault();
        if (event.target.className.includes('card')) {
            if (event.target.className.includes('card')) {
                event.target.parentNode.insertBefore(draggedCard, event.target.nextSibling);
            } else {
                event.target.appendChild(draggedCard);
            }

            event.target.style.background = '';
            updateCardPosition(draggedCard);
        }
    }, false);


    // 수정 모드 체크
    let editMode = false;
    let columnsData = [];

    function fetchColumns() {

        fetch(`/api/boards/${boardId}`, {
            method: 'GET',
            headers: {
                'Authorization': localStorage.getItem("Authorization"),
                //'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('네트워크 상태가 좋지 않습니다.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // 서버에서 받은 데이터 확인
                columnsData = data.data.kanbanDetailsResponseDtoList;
                createColumns(columnsData);
            })
            .catch(error => console.error('Error fetching columns:', error));
    }

    function createColumns(columnsData) {
        const columnContainer = document.getElementById('columns-container');
        columnContainer.innerHTML = ''; // 기존 컬럼 초기화
        columnsData.forEach(columnData => {
            const column = document.createElement('div');
            column.className = 'column';
            column.draggable = editMode;
            column.dataset.id = columnData.id;
            column.innerHTML = `
                    <div class="column-header" id="${columnData.id}">
                        <h2 class="column-title">${columnData.columnTitle}</h2>
                        <a href="createCard.html" class="button">카드 생성</a>
                    </div>
                `;

            // 드래그 앤 드롭 이벤트 핸들러 추가
            column.addEventListener('dragstart', dragStart);
            column.addEventListener('dragover', dragOver);
            column.addEventListener('drop', drop);

            if (editMode) {
                column.querySelector('.column-title').outerHTML = `<input type="text" class="column-title" value="${columnData.columnTitle}" data-id="${columnData.id}">`;
            }

            const cards = column.cardResponseList;

            if (Array.isArray(cards)) {
                cards.forEach(card => {
                    const cardElement = document.createElement('div');
                    cardElement.className = 'card';
                    cardElement.draggable = true;
                    cardElement.innerHTML = `
                        <div>${card.title}</div>
                        <div class="card-info">담당자: ${card.username ? card.username : '-'}</div>
                        <div class="card-info">기한: ${card.endTime ? card.endTime : '-'}</div>
                        <div class="card-info">내용: ${card.content}</div>
                        <div class="card-info">상태: ${card.state}</div>
                        <div class="card-info">순서: ${card.sequence}</div>
                    `;
                    cardElement.addEventListener('dragstart', dragStart);
                    cardElement.addEventListener('dragover', dragOver);
                    cardElement.addEventListener('drop', drop);
                    column.appendChild(cardElement);
                })
            }

            columnContainer.appendChild(column);
        });
    }

    // 컬럼 수정 모드 토글 함수
    function modifyColumn() {
        editMode = !editMode;
        const editButton = document.getElementById('editButton');
        editButton.textContent = editMode ? '수정 완료' : '컬럼 수정';

        fetchColumns(); // 컬럼 재생성

        if (!editMode) {
            saveChanges();
            window.location.href = `board.html?boardId=${boardId}`;
        }
    }

    // 변경사항 저장 함수
    function saveChanges() {
        const columnTitles = document.querySelectorAll('.column-title');
        columnTitles.forEach((input, index) => {
            columnsData[index].columnTitle = input.value;
            let columnId = input.dataset.id;

            const putData = {
                columnTitle: input.value
            };

            fetch(`/api/admins/boards/${boardId}/columns/${columnId}`, {
                method: 'PUT',
                headers: {
                    'Authorization': localStorage.getItem("Authorization"),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(putData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('네트워크 상태가 좋지 않습니다.');
                    }
                    return response.json();
                })
                .catch(error => console.error('Error fetching columns:', error));
        });

    }

    // 드래그 시작 시 이벤트
    function dragStart(event) {
        draggedElement = event.target;
        event.target.style.opacity = 0.5;
        event.dataTransfer.effectAllowed = 'move';
        event.dataTransfer.setData('text/plain', event.target.dataset.id);
    }

    // 드래그 중인 요소가 다른 요소 위로 이동할 때 이벤트
    function dragOver(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = 'move';
    }

    // 드래그된 요소가 드롭될 때 이벤트
    function drop(event) {
        event.preventDefault();
        const targetElement = event.target.closest('.card, .column');
        if (targetElement && targetElement !== draggedElement) {
            const cardId = draggedElement.dataset.id;
            const targetId = targetElement.dataset.id;
            const kanbanColumnId = draggedElement.closest('.column').dataset.id;
            const targetColumnId = targetElement.closest('.column').dataset.id;

            if (draggedElement.classList.contains('card') && targetElement.classList.contains('column')) {
                moveCardToColumn(cardId, targetColumnId, kanbanColumnId);
            } else if (draggedElement.classList.contains('column') && targetElement.classList.contains('column')) {
                const draggedColumnId = draggedElement.dataset.id;

                // 컬럼을 다른 위치로 이동하는 함수 호출
                moveColumn(cardId, targetId);

                // 컬럼의 DOM 요소 위치 변경 처리
                const columnsContainer = document.getElementById('columns-container');
                const draggedIndex = Array.from(columnsContainer.children).indexOf(draggedElement);
                const droppedIndex = Array.from(columnsContainer.children).indexOf(targetElement);

                if (draggedIndex < droppedIndex) {
                    columnsContainer.insertBefore(draggedElement, targetElement.nextSibling);
                } else {
                    columnsContainer.insertBefore(draggedElement, targetElement);
                }

                draggedElement.style.visibility = 'visible';
            }
            draggedElement.style.opacity = '';
        }
    }

    function moveColumn(baseId, targetId) {
        fetch(`/api/admins/boards/${boardId}/columns?baseColumn=${baseId}&targetColumn=${targetId}`, {
            method: 'PUT',
            headers: {
                'Authorization': localStorage.getItem("Authorization"),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // alert('컬럼이 이동되었습니다.');
            // window.location.reload();
        })
        .catch(error => {
            console.error('컬럼 이동 중 오류 발생:', error);
            alert('컬럼 이동에 실패했습니다.');
        });
    }

    // 컬럼 제목 입력 필드에서 Enter 키를 누를 때
    // document.addEventListener('keydown', function (event) {
    //     if (event.key === 'Enter') {
    //         if (editMode) {
    //             // 수정 모드일 때, 변경 완료 처리
    //             for (let i = 1; i <= 3; i++) {
    //                 let columnTitle = document.getElementById(`columnTitle${i}`);
    //                 let editInput = document.getElementById(`editColumnInput${i}`);
    //                 columnTitle.textContent = editInput.value;
    //             }
    //             editMode = false; // 수정 모드 종료
    //             updateUI(); // UI 업데이트 함수 호출
    //         }
    //     }
    // });

    // 수정된 UI 업데이트 함수
    // function updateUI() {
    //     for (let i = 1; i <= 3; i++) {
    //         let columnTitle = document.getElementById(`columnTitle${i}`);
    //         let editInput = document.getElementById(`editColumnInput${i}`);
    //
    //         if (editMode) {
    //             // 수정 모드일 때
    //             columnTitle.style.display = 'none';
    //             editInput.style.display = 'inline-block';
    //             editInput.value = columnTitle.textContent.trim();
    //         } else {
    //             // 수정 모드가 아닐 때
    //             columnTitle.style.display = 'inline-block';
    //             editInput.style.display = 'none';
    //         }
    //     }
    //
    //     let editButton = document.getElementById('editButton');
    //     editButton.textContent = editMode ? '변경 완료' : '컬럼 수정';
    // }

    function openCreateCardModal(event) {
        const columnElement = event.target.closest('.column');
        selectedColumnId = columnElement.dataset.id;
        document.getElementById('createCardModal').style.display = 'block';
    }

    function closeCreateCardModal() {
        document.getElementById('createCardModal').style.display = 'none';
        selectedColumnId = null;
    }

    function createCard() {
        const cardTitle = document.getElementById('cardTitle').value.trim();
        const cardAssignee = document.getElementById('cardAssignee').value.trim();
        const cardDueDate = document.getElementById('cardDueDate').value.trim();
        const cardContent = document.getElementById('cardContent').value.trim();

        if (!cardTitle) {
            alert('기능명은 필수 입력 사항입니다.');
            return;
        }

        const cardData = {
            title: cardTitle,
            username: cardAssignee || null,
            endTime: cardDueDate || null,
            content: cardContent || null
        };

        fetch(`/api/columns/${selectedColumnId}/cards`, {
            method: 'POST',
            headers: {
                'Authorization': localStorage.getItem("Authorization"),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(cardData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.msg === "카드 생성이 완료되었습니다.") {
                alert(data.msg);
                window.location.reload();
            } else {
                throw new Error('알 수 없는 오류가 발생했습니다.');
            }
        })
        .catch(error => {
            alert(error.message);
        });
    }

    function deleteCard(columnId, cardId) {
        if (!confirm("정말 이 카드를 삭제하시겠습니까?")) {
            return;
        }

        fetch(`/api/columns/${columnId}/cards/${cardId}`, {
            method: 'DELETE',
            headers: {
                'Authorization': localStorage.getItem("Authorization"),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.msg === "카드 삭제가 완료되었습니다.") {
                alert(data.msg);
                window.location.reload();
            } else {
                throw new Error('알 수 없는 오류가 발생했습니다.');
            }
        })
        .catch(error => {
            alert(error.message);
        });
    }

    // 카드 이동 함수
    function moveCardToColumn(cardId, targetColumnId, kanbanColumnId) { // 수정
        const targetColumnElement = document.querySelector(`.column[data-id='${targetColumnId}']`);
        const cardElements = targetColumnElement.querySelectorAll('.card');
        const moveSequence = cardElements.length + 1;

        fetch(`/api/columns/${kanbanColumnId}/cards/${cardId}/move/${targetColumnId}/?moveSequence=${moveSequence}`, { // 수정
            method: 'PATCH',
            headers: {
                'Authorization': localStorage.getItem("Authorization"),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                targetColumnId: targetColumnId,
                moveSequence: moveSequence
            })
        })
        .then(response => response.json())
        .then(data => {
            alert('카드가 이동되었습니다.');
            window.location.reload();
        })
        .catch(error => {
            console.error('카드 이동 중 오류 발생:', error);
            alert('카드 이동에 실패했습니다.');
        });
    }
</script>

</body>
</html>
